<div id="homepage-container">
  <div class="col-8" id="events">
    {{!-- add events divs here --}}
    {{#each events as |event|}}
    <div class="event-card">
      <div class="card-heading">
        <h2 class="card-title">{{name}}</h2>
        <button class="btn card-btn joinBtn" data-eventId="{{id}}" data-location="{{location}}>Join event</button>
      </div>
      <div class="card-body">
        <p><img class="location-icon" src="/assets/location.png"/> {{location}}</p>
        <p><img class="date-icon" src="/assets/date.png"/>{{time_and_date}}</p>
        <div class="description-body">
          <p>{{description}}</p>
        </div>
        <p><img class="person-icon" src="/assets/person-icon.png"/> {{number_of_participants}}/{{max_participants}}</p>
        <p>#{{tags}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/homepage.js"></script>

