<div id="homepage-container">
  <div class="col-8" id="events">
    {{!-- add events divs here --}}
    {{#each events as |event|}}
    <div class="event-card">
      <div class="card-heading">
        <h2 class="card-title">{{name}}</h2>
        <button class="btn card-btn joinBtn" data-eventId="{{id}}" >Join event</button>
      </div>
      <div class="card-body">
        <p>Location: {{location}}</p>
        <p>{{time_and_date}}</p>
        <div class="description-body">
          <p>{{description}}</p>
        </div>
        <p>Participants joined: {{number_of_participants}}/{{max_participants}}</p>
        <p>#{{tags}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/homepage.js"></script>

